*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

input {
  color: inherit;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 1140px;
  gap: 30px;
  margin: 133px 30px;
  object-fit: fill;
  height: 100%;
}

.result {
  align-items: end;
}

.result__video-containe {
  margin-bottom: 16px;
}

.result__video {
  margin-top: 78px;
  width: 711px;
  height: 386px;
  object-fit: contain;
  margin-bottom: 16px;
}

.content__details {
  align-items: end;
}

.content__list {
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.search-form__textfield {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  background-color: rgba(27, 25, 25, 1);
  appearance: none;
  width: 225px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.content__list-container {
  height: 534px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  opacity: 50%;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  max-width: 390px;
  max-height: 103px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  color: rgba(255, 255, 255, 1);
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: wrap;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px; 
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.button {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(27, 25, 25, 1);
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
